#dashboard {
  display: flex;
  flex-direction: column;
}

#container-wrapper {
  display: flex;
  flex-direction: row;
}

#dashboard-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.list-group {
  max-height: 70vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.card-issues {
  margin: 0px;
  padding: 0px;
  min-height: 250px;
  width: 100%;
}

.issue-container a {
  opacity: 1;
}

.issue-controls {
  width: 48px;
}

.mb-1em {
  margin-bottom: 1em !important;
}

.modal-dialog {
  width:  auto;
  min-width: 25%;
  max-width: 75%;
}

.delete-modal-dialog {
  width: 25%;
}

.close {
  font-size: 20px;
}

.badge {
  font-size: 100% !important;
}

@media (min-width: 720px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 960px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1140px) {
  .card-columns {
    column-count: 1;
  }
}
